body {
  background-color: #101010;
  color: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 3rem auto;
}

.btn {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 100vw;
}

.header {
  background-color: #050505;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;

  .header_link {
    text-decoration: none;
    font-weight: bold;
    color: purple;
    padding: 0.5rem 1.5rem;
    border-radius: 100vw;
    transition: all 75ms linear;

    &:hover {
      background-color: #80008015;
      text-decoration: underline;
    }
  }

  #install {
    margin-left: auto;
  }
}

.home-gif {
  max-height: 20rem;
  max-width: 100%;
  border-radius: 1rem;
}

#posts-wrapper .post {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #202020;
  margin-top: 1rem;

  &:first {
    margin-top: 0;
  }
}
